<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MiniDARMAS_DB"
			 connectionString="Server=DESKTOP-FR8VARP\SQLEXPRESS;Database=MiniDARMAS;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>